<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TweetSafe</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <!-- <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">TweetSafe</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="/about">About</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/#services">Tools</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="https://github.com/mgupta011235/TweetSafe">Github</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/#contact">Contact</a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="color: #286090;">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1></h1>
                    <form class="searchform cf" style="margin-top: -90px;">
                        <label for="result0">Top 11 most similar subreddits to <span class={{classList[0]}}>{{tweet}}</span></label><br>
                        <a class={{classList[1]}} href="https://www.reddit.com{{subreddit[0]}}">{{subreddit[0]}}</label><br>
                        <a class={{classList[2]}} href="https://www.reddit.com{{subreddit[1]}}">{{subreddit[1]}}</label><br>
                        <a class={{classList[3]}} href="https://www.reddit.com{{subreddit[2]}}">{{subreddit[2]}}</label><br>
                        <a class={{classList[4]}} href="https://www.reddit.com{{subreddit[3]}}">{{subreddit[3]}}</label><br>
                        <a class={{classList[5]}} href="https://www.reddit.com{{subreddit[4]}}">{{subreddit[4]}}</label><br>
                        <a class={{classList[6]}} href="https://www.reddit.com{{subreddit[5]}}">{{subreddit[5]}}</label><br>
                        <a class={{classList[7]}} href="https://www.reddit.com{{subreddit[6]}}">{{subreddit[6]}}</label><br>
                        <a class={{classList[8]}} href="https://www.reddit.com{{subreddit[7]}}">{{subreddit[7]}}</label><br>
                        <a class={{classList[9]}} href="https://www.reddit.com{{subreddit[8]}}">{{subreddit[8]}}</label><br>
                        <a class={{classList[10]}} href="https://www.reddit.com{{subreddit[9]}}">{{subreddit[9]}}</label><br>
                        <a class={{classList[11]}} href="https://www.reddit.com{{subreddit[10]}}">{{subreddit[10]}}</label><br>
                    </form>
                </div>
            </div>
        </header>
